@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /* Primary Colors */
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --grayish-blue: hsl(227, 10%, 46%);

  /* Neutral Colors */
  --dark-gray: hsl(0, 0%, 59%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  outline: 0;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

p, span {
  font-weight: 400;
  color: var(--dark-gray)
}

p {
  font-size: 1.2rem;
}

html {
  font-size: 62.5%;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  color: var(--dark-blue);
  background-color: var(--dark-cyan);
  height: 100vh;
  box-sizing: border-box;
  background-image: url(/images/bg-pattern-bottom.svg), 
                    url(/images/bg-pattern-top.svg);
  background-position: top 50vh left 50vw, bottom 40vh right 50vw;   
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-container {
  box-shadow: rgba(0, 0, 0, .2) 0px 60px 80px;
  width: 86%;
  border-radius: 15px;
  z-index: 999;
}

.header img {
  width: 100%;
  height: 14rem;
  border-radius: 15px 15px 0 0;
  display: block;
}

.user-info {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.info {
  margin-top: -2.5rem;
  text-align: center;
}

.info p {
  padding: 1rem;
  font-size: 1.4rem;
}

.user-info img {
  background-color: var(--white);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 5px solid var(--white);
  transform: translateY(-50%);
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: var(--white);
  border-top: 1px solid #dddddd;
  padding: 2.7rem 2rem;
  border-radius: 0 0 15px 15px;
}

.stats p {
  letter-spacing: 1px;
  font-size: 1.1rem;
  margin-top: .6rem;
}

@media only screen and (min-width: 376px) {
  .box-container {
  width: 36rem;
}
}